@font-face {
    font-family: 'Poppins';
    src: url("content/font/Poppins/Poppins-Black.ttf");
    src: url("content/font/Poppins/Poppins-BlackItalic.ttf");
    src: url("content/font/Poppins/Poppins-Bold.ttf");
    src: url("content/font/Poppins/Poppins-BoldItalic.ttf");
    src: url("content/font/Poppins/Poppins-ExtraBold.ttf");
    src: url("content/font/Poppins/Poppins-ExtraBoldItalic.ttf");
    src: url("content/font/Poppins/Poppins-ExtraLight.ttf");
    src: url("content/font/Poppins/Poppins-ExtraLightItalic.ttf");
    src: url("content/font/Poppins/Poppins-Italic.ttf");
    src: url("content/font/Poppins/Poppins-Light.ttf");
    src: url("content/font/Poppins/Poppins-LightItalic.ttf");
}

@font-face {
    font-family: 'Pacifico';
    src: url("content/font/Pacifico/Pacifico-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    width: 100%;
    position: fixed;
    height: fit-content;
    background: #4e4e4e;
}

.header::after{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
}

.header .logo{
    color: #fff;
    padding: 20px;
    width: 80%;
    margin: auto;
}

.logo h2 a{
    text-decoration: none;
    color: #fff;
    font-family: 'Pacifico', sans-serif;
}

.main-content{
    position: absolute;
    width: 100%;
    height: 50%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
}

.container{
    margin-top:40px;
    max-width: 700px;
    padding: 25px 30px;
    border: 2px solid black;
    border-radius:20px;
}

.container .title{
    font-size: 25px;
    font-weight: 400;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.container .title::before{
    content: "";
    position: absolute;
    height: 4px;
    width: 40px;
    background: #9b59b6;
}