@import url("http://fonts.googleapis.com/css?family=Poppins");
@import url("http://fonts.googleapis.com/css?family=Pacifico&display=swap");

body {
    background-image: url('../content/urban1.jpeg');
    background-repeat: no-repeat;
}


.fields {
    display: flex;
    margin: 20vh 30vw 15vh 25vw;
    justify-content: center;
    align-items: center;
    flex-direction:  column;
    border-radius: 10px;
    width: 50vw;
    height: 50vh;
    font-family: 'Poppins';
    background: #c0393b;

}

.fields p {
    display: flex;
    font-family: 'Poppins';
    color: #fff;
}

.fields form .field label {
    display: flex;
}

.fields form .field input {
    display: flex;
    height: 2vh;
    width: 12vw;
    border-radius: 5px;
    padding: 2%;
    background-color: #fff;
    color: gray;
    text-align: center;
}

.fields form .field input[tupe=submit] {
    display: flex;
    height: 2vh;
    width: 12vw;
    border-radius: 5px;
    padding: 2%;
    background-color: #fff;
    color: black;
    text-align: center;
}
.field {
    display: flex;
    height: 5vh;
    width: 100%;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}