                                    /*########## Style de index.php(admin) ##########*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tangerine');


*{margin:0; padding: 0;}

h1{ text-align : center; color: blue; margin-top: 10%; }
h2{ text-align : center; color: blue; margin-left:2%; }

/* couleur et police d'ecriture du de la page en arriere plan */
body{
    background-color : white;
    font-family : 'Poppins';
    text-align : center;
}

/* entete avec barre de navigation*/
header{
    width: 100%;
    height: 100px;
    background: orangered;
    position: fixed;
    margin-right: 100%;
}

/* definition de la position du texte sur la page */
.wrapper{
    width: 90%;
    margin: 0 auto;
}

/* position du logo ou slogan qui est <<positionnement>> a l'extreme gauche de la page */
.logo{
    width:30%;
    float: left;
    position: fixed;
    line-height: 100px;
}

.logo a{
    text-decoration: none;
    font-size: 50px;
    font-family:'Tangerine';
    color: white;
    letter-spacing: 4px;
}

nav{
    float: right;
    line-height: 100px;
}

nav a{
    text-decoration: none;
    font-family:'Pacifico'
    letter-spacing: 4px;
    font-size: 20px;
    color: white;
    padding: 10px 10px;
    margin: 0 1px;
    font-weight: 500;
}
 
nav a:hover{
    border-bottom: 3px solid white;
    border-radius: 20%;
}

.banner-container{
    background-image: url(../content/road1.jpg);
    top: 100px;
    position: fixed;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center center;
}

.banner-container:after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    display:block;
    height:100%;
    width: 100%;
    background: #130f40;
    opacity: .7;
    z-index: -1;
    
}

.content{
    position: relative;
    width: 100%;        
    top: 500px;
    background: white;
}

.banner-container h1{
    font-size: 60px;
    word-spacing: 50px;
}
 

.green { color : green ;}
.red { color: red;}
.yellow { color: yellow;}






