/* ########## Style de index.php(admin) ########## */
@font-face {
    font-family: 'Poppins';
    src: url("../../content/font/Poppins/Poppins-Black.ttf");
    src: url("../../content/font/Poppins/Poppins-BlackItalic.ttf");
    src: url("../../content/font/Poppins/Poppins-Bold.ttf");
    src: url("../../content/font/Poppins/Poppins-BoldItalic.ttf");
    src: url("../../content/font/Poppins/Poppins-ExtraBold.ttf");
    src: url("../../content/font/Poppins/Poppins-ExtraBoldItalic.ttf");
    src: url("../../content/font/Poppins/Poppins-ExtraLight.ttf");
    src: url("../../content/font/Poppins/Poppins-ExtraLightItalic.ttf");
    src: url("../../content/font/Poppins/Poppins-Italic.ttf");
    src: url("../../content/font/Poppins/Poppins-Light.ttf");
    src: url("../../content/font/Poppins/Poppins-LightItalic.ttf");
}

@font-face {
    font-family: 'Pacifico';
    src: url("../../content/font/Pacifico/Pacifico-Regular.ttf");
}

*{margin: 0; padding: 0;}


/* couleur et police d'ecriture du de la page en arriere plan */

body{
    background-color : white;
    font-family : 'Poppins';
    text-align : center;


    background-image: url(../content/road1.jpg);
    top: 0px;
    position: absolute;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center center;

}

nav{
    width: 100%;
    background-color: rgb(165, 22, 22);
    line-height: 20px; 
}
nav ul{
    margin: 0px;
    padding: 0px; 
}

nav > ul::after{
    content: "";
    display: block;
    clear: both;  
}

nav li{
    list-style-type: none;
}

nav > ul > li{
    float: left;
    position: relative;
}

nav > ul > li > a{
    padding: 20px 60px;
    color: white;
}
nav > ul > li >:hover a{
    padding: 18px 30px 20px 60px;
}

.submenu{
    display: none;
    position: fixed;
}

nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;  
}

.submenu li{
    border-bottom: 1px solid orange;
}

.submenu li a{
    padding: 15px 30px;
    font-size: 13px;
    color: white;
    width: auto;
}

nav a{
    display: inline-block;
    text-decoration: none;
}


.menu:hover{
    /* border-radius:800px; */
    border-top: 0px solid orange;
    background-color: orange;
}

.activite:hover{
    /* border-radius:800px; */
    border-top: 0px solid orange;
    background-color: orange;
}

.annonce:hover{
    /* border-radius:800px; */
    border-top: 0px solid orange;
    background-color: orange;
}

.pub:hover{
        /* border-radius:800px; */
    border-top: 0px solid orange;
    background-color: orange;
}

.site:hover{
    /* border-radius:800px; */
    border-top: 0px solid orange;
    background-color: orange;
}

.projet:hover{
    /* border-radius:800px; */
    border-top: 0px solid orange;
    background-color: orange;
}

.menu .submenu{
    background-color: #130f40; 
    opacity: .7;
}

.activite .submenu{
    background-color: #130f40;
    opacity: .7;
}

.annonce .submenu{
    background-color: #130f40;
    opacity: .7;
}

.pub .submenu{
    background-color: #130f40;
    opacity: .7;
}

.site .submenu{
    background-color: #130f40;
    opacity: .7;
}

.projet .submenu{
    background-color: #130f40;
    opacity: .7;
}

.submenu li:hover a{
    color: #EEE;
    font-weight: bold;
}

.menu .submenu li:hover{
    background-color: blueviolet;
}

.activite .submenu li:hover{
    background-color: blueviolet;
}

.annonce .submenu li:hover{
    background-color: blueviolet;
}

.pub .submenu li:hover{
    background-color: blueviolet;
}

.site .submenu li:hover{
    background-color: blueviolet;
}

.projet .submenu li:hover{
    background-color: blueviolet;
}  



                                /* #### STYLE DU BANNER #### */



header{
    width: 100%;
    height: 0%;
    background: rgb(165, 22, 22);
    position: fixed;
    margin-right: 100%;
    border-bottom: 0px solid white;
}

h1{ text-align : center; font-family: 'Pacifico'; color: white; margin-top: 20%;}
h2{ text-align : center; color: blue; margin-left:2%; }

/* couleur et police d'ecriture du de la page en arriere plan */
a{
    text-decoration: none;
    color: white;
    padding: 20px
}

.banner-container:after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    display:block;
    height:200%;
    width: 100%;
    background: #130f40;
    opacity: .7;
    z-index: -1;
}

.content{
    position: relative;
    width: 100%;        
    top: 200px;
    background: white;
}

.banner-container h1{
    font-size: 60px;
    word-spacing: 60px;
}
    
.couleur{
    color: white;
}

.footer{
    background-color: black;
    box-sizing: border-box;
    color: #EEE;
    font-family: 'Tangerine';
    font-size: 100%;
    padding: 70px 0;
    bottom: 0;
}

.nom {
    font-family: 'Pacifico';
    font-style:bold;
    font-size:300%;
    color:red;
}

.second-titre {
    font-family: 'Gentium Plus', serif;
    font-size: 200%;
    color:rgb(145, 192, 17);
}

.detail {
    font-family: 'Raleway', sans-serif;
    color: black;

}
